templates/page/delivery.html
{% extends 'index.html' %}{% block styles %}<link href="/media/css/delivery.css?v=1.000" rel="stylesheet" />{% endblock %}{% block scripts %}{% endblock %}{% block meta_keywords %}{% if meta %}{{ meta.keywords }}{% endif %}{% endblock %}
{% block meta_description %}{% if meta %}{{ meta.description }}{% endif %}{% endblock %}
{% block title %}{% if meta %}{{ meta.title }}{% endif %}{% endblock %}{%  block content %}<div class="wr_center" id="content"><div id="breadcrumbs"><ul><li><a href="/">Главная</a></li><li class="breadcrumbs_arrow">></li><li><span>Доставка</span></li></ul></div><div class="content_catalog"><h1 class="page_title">Доставка</h1><div class="delivery"><div class="delivery_text">Получить товар Вы можете несколькими способами:</div><div class="cols__items delivery_items clearfix"><div class="col__item4 delivery_item"><div class="delivery_item-icon"><img src="/media/images/delivery/icon_shipping_self.png" /></div><div class="delivery_item-info"><div class="delivery_item-info-place">со склада в Санкт-Петербурге</div><div class="delivery_item-info-price">бесплатно</div></div></div><div class="col__item4 delivery_item"><div class="delivery_item-info"><div class="delivery_item-info-place">в пределах Санкт-Петербурга</div><div class="delivery_item-info-price">300 руб., от 5 шт. - бесплатно</div></div></div><div class="col__item4 delivery_item"><div class="delivery_item-icon"><img src="/media/images/delivery/icon_delivery.png" /></div><div class="delivery_item-info"><div class="delivery_item-info-place">по Ленинградской области</div><div class="delivery_item-info-price">по договоренности</div></div></div><div class="col__item4 delivery_item"><div class="delivery_item-info"><div class="delivery_item-info-place">по РФ</div><div class="delivery_item-info-price"><img src="/media/images/delivery/icon_delivery_services.png" /></div></div></div></div></div></div></div>{%  endblock %}

templates/page/delivery.slim
|
    {% extends 'index.html' %}
|
    {% block styles %}
link rel="stylesheet" href="/media/css/delivery.css?v=1.000"
|
    {% endblock %}
|
    {% block scripts %}
|
    {% endblock %}
|
    {% block meta_keywords %}{% if meta %}{{ meta.keywords }}{% endif %}{% endblock %}
    {% block meta_description %}{% if meta %}{{ meta.description }}{% endif %}{% endblock %}
    {% block title %}{% if meta %}{{ meta.title }}{% endif %}{% endblock %}
|
    {%  block content %}
div#content.wr_center
    div#breadcrumbs
        ul
            li
                a href="/" Главная
            li.breadcrumbs_arrow >
            li
                span Доставка
    div.content_catalog
        h1.page_title Доставка
        div.delivery
            div.delivery_text Получить товар Вы можете несколькими способами:
            div.cols__items.delivery_items.clearfix
                div.col__item4.delivery_item
                    div.delivery_item-icon
                        img src="/media/images/delivery/icon_shipping_self.png" 
                    div.delivery_item-info
                        div.delivery_item-info-place со склада в Санкт-Петербурге
                        div.delivery_item-info-price бесплатно
                div.col__item4.delivery_item
                    div.delivery_item-info
                        div.delivery_item-info-place в пределах Санкт-Петербурга
                        div.delivery_item-info-price 300 руб., от 5 шт. - бесплатно
                div.col__item4.delivery_item
                    div.delivery_item-icon
                        img src="/media/images/delivery/icon_delivery.png" 
                    div.delivery_item-info
                        div.delivery_item-info-place по Ленинградской области
                        div.delivery_item-info-price по договоренности
                div.col__item4.delivery_item
                    div.delivery_item-info
                        div.delivery_item-info-place по РФ
                        div.delivery_item-info-price
                            img src="/media/images/delivery/icon_delivery_services.png" 
|
    {%  endblock %}
