templates/tags/best_products.html
{% load common_tags %}<div class="wr_center"><div class="best_products__tabs"><div class="best_products__tab lp_tabs_title__item{% if brand.is_kyocera %} active{% endif %}">Kyocera</div><div class="best_products__tab lp_tabs_title__item{% if brand.is_hp %} active{% endif %}">Hewlett-Packard</div></div><div class="best_products_tab__items lp_tabs__content__items"><div class="best_products_tab_item lp_tabs__content__item active"><div class="best_products__items products__items clearfix"><div class="product product2 best_products_banner">{% if brand.image_banner1 %}<a href="#"><img class="button_change_brand" src="{{ brand.image_banner1.url }}" /></a>{% endif %}</div>{% for product in products %}<div class="product"><div class="title"><a href="{{ product.url }}">{{ product.name }}</a></div><div class="params"></div><div class="image"><a href="{{ product.url }}"><img alt="{{ product.name }}" src="{{ product.image_product.url }}" /></a></div><div class="buy">{% if product.price == 1 %}<div class="product-not_available">Нет в наличии</div>{% else %}<div class="price">{{ product.price|price_format }} руб.</div><button class="button_buy basket_add" data-product-id="{{product.id}}"></button>{% endif %}</div></div>{% endfor %}</div></div></div></div>

templates/tags/best_products.slim
|
    {% load common_tags %}
div.wr_center
    div.best_products__tabs
        div class="best_products__tab lp_tabs_title__item{% if brand.is_kyocera %} active{% endif %}" Kyocera
        div class="best_products__tab lp_tabs_title__item{% if brand.is_hp %} active{% endif %}" Hewlett-Packard
    div.best_products_tab__items.lp_tabs__content__items
        div.best_products_tab_item.lp_tabs__content__item.active
            div.best_products__items.products__items.clearfix
                div.product.product2.best_products_banner
                    |
                        {% if brand.image_banner1 %}
                    a href="#"
                        img src="{{ brand.image_banner1.url }}" class="button_change_brand"
                    |
                        {% endif %}
                |
                    {% for product in products %}
                div.product
                    div.title
                        a href="{{ product.url }}"
                            |
                                {{ product.name }}
                    div.params  
                    div.image
                        a href="{{ product.url }}"
                            img src="{{ product.image_product.url }}" alt="{{ product.name }}"
                    div.buy
                        |
                            {% if product.price == 1 %}
                        div.product-not_available Нет в наличии
                        |
                            {% else %}
                        div.price
                            |
                                {{ product.price|price_format }} руб.
                        button.button_buy.basket_add data-product-id="{{product.id}}"
                        |
                            {% endif %}
                |
                    {% endfor %}
