templates/tags/general_menu.html
<ul class="menu_t_big"><li class="menu_item_catalog"><a href="/shop/"><span>КАТАЛОГ ТОВАРОВ</span></a><div class="menu_item_catalog_submenu"><ul><li class="catalog_submenu_title icon_cartridge"><a href="/cartridge/">Оригинальные тонер-картриджи</a></li><li class="catalog_submenu_item"><a href="/cartridge/kyocera/">Kyocera</a></li><li class="catalog_submenu_item"><a href="/cartridge/hewlett-packard/">Hewlett-Packard</a></li><li class="catalog_submenu_item"><a href="/cartridge/xerox/">XEROX</a></li><li class="catalog_submenu_item"><a href="/cartridge/canon/">Canon</a></li><li class="catalog_submenu_item"><a href="/cartridge/oki/">Oki</a></li></ul><ul><li class="catalog_submenu_title icon_mfu"><a href="/mfu/">МФУ</a></li><li class="catalog_submenu_item"><a href="/mfu/kyocera/">Kyocera</a></li><li class="catalog_submenu_item"><a href="/mfu/hewlett-packard/">Hewlett-Packard</a></li>{% comment %}<li class="catalog_submenu_item"><a href="/mfu/xerox/">XEROX</a></li><li class="catalog_submenu_item"><a href="/mfu/brother/">Brother</a></li><li class="catalog_submenu_item"><a href="/mfu/oki/">Oki</a></li>{% endcomment %}</ul>{% comment %}<ul><li class="catalog_submenu_title icon_sovmestimy-cartridge"><a href="/sovmestimy-cartridge/">Совместимые тонер-картриджи</a></li><li class="catalog_submenu_item"><a href="/sovmestimy-cartridge/kyocera/">Kyocera</a></li><li class="catalog_submenu_item"><a href="/sovmestimy-cartridge/hewlett-packard/">HP</a></li></ul><ul><li class="catalog_submenu_title icon_spares"><a href="/spares/">Запчасти, инструмент и принадлежности</a></li></ul>{% endcomment %}</div></li><li class="menu_item_delivery"><a href="/delivery/"><span>ДОСТАВКА</span></a></li><li class="menu_item_auction"><a href="/auction/"><span>ТОРГИ/АУКЦИОНЫ</span></a></li><li class="menu_item_opt"><a href="/opt/"><span>ОПТОВЫЕ ЦЕНЫ НА КАРТРИДЖИ</span></a></li><li class="menu_item_articles"><a href="/articles/"><span>СТАТЬИ</span></a></li><li class="menu_item_about"><a href="/about/"><span>О КОМПАНИИ</span></a></li><li class="menu_item_kontakty"><a href="/kontakty/"><span>КОНТАКТЫ</span></a></li><li class="menu_item_middle"><a href="#"><span>МЕНЮ</span></a><div class="menu_item_middle_submenu"><ul><li class="catalog_submenu_item"><a href="/delivery/">ДОСТАВКА</a></li><li class="catalog_submenu_item"><a href="/auction/">ТОРГИ/АУКЦИОНЫ</a></li><li class="catalog_submenu_item"><a href="/opt/">ОПТОВЫЕ ЦЕНЫ НА КАРТРИДЖИ</a></li><li class="catalog_submenu_item"><a href="/articles/">СТАТЬИ</a></li><li class="catalog_submenu_item"><a href="/about/">О КОМПАНИИ</a></li><li class="catalog_submenu_item"><a href="/kontakty/">КОНТАКТЫ</a></li></ul></div></li></ul>

templates/tags/general_menu.slim
ul.menu_t_big
    li.menu_item_catalog
        a href="/shop/" 
            span КАТАЛОГ ТОВАРОВ
        div.menu_item_catalog_submenu
            ul
                li.catalog_submenu_title.icon_cartridge
                    a href="/cartridge/" Оригинальные тонер-картриджи
                li.catalog_submenu_item
                    a href="/cartridge/kyocera/" Kyocera
                li.catalog_submenu_item
                    a href="/cartridge/hewlett-packard/" Hewlett-Packard
                li.catalog_submenu_item
                    a href="/cartridge/xerox/" XEROX
                li.catalog_submenu_item
                    a href="/cartridge/canon/" Canon
                li.catalog_submenu_item
                    a href="/cartridge/oki/" Oki
            ul
                li.catalog_submenu_title.icon_mfu
                    a href="/mfu/" МФУ
                li.catalog_submenu_item
                    a href="/mfu/kyocera/" Kyocera
                li.catalog_submenu_item
                    a href="/mfu/hewlett-packard/" Hewlett-Packard
                |
                    {% comment %}
                li.catalog_submenu_item
                    a href="/mfu/xerox/" XEROX
                li.catalog_submenu_item
                    a href="/mfu/brother/" Brother
                li.catalog_submenu_item
                    a href="/mfu/oki/" Oki
                |
                    {% endcomment %}
            |
                {% comment %}
            ul
                li.catalog_submenu_title.icon_sovmestimy-cartridge
                    a href="/sovmestimy-cartridge/" Совместимые тонер-картриджи
                li.catalog_submenu_item
                    a href="/sovmestimy-cartridge/kyocera/" Kyocera
                li.catalog_submenu_item
                    a href="/sovmestimy-cartridge/hewlett-packard/" HP
            ul
                li.catalog_submenu_title.icon_spares
                    a href="/spares/" Запчасти, инструмент и принадлежности
            |
                {% endcomment %}
    li.menu_item_delivery
        a href="/delivery/" 
            span ДОСТАВКА
    li.menu_item_auction
        a href="/auction/"
            span ТОРГИ/АУКЦИОНЫ
    li.menu_item_opt
        a href="/opt/"
            span ОПТОВЫЕ ЦЕНЫ НА КАРТРИДЖИ
    li.menu_item_articles
        a href="/articles/" 
            span СТАТЬИ
    li.menu_item_about
        a href="/about/" 
            span О КОМПАНИИ
    li.menu_item_kontakty
        a href="/kontakty/"
            span КОНТАКТЫ
    li.menu_item_middle
        a href="#"
            span МЕНЮ
        div.menu_item_middle_submenu
            ul
                li.catalog_submenu_item
                    a href="/delivery/" ДОСТАВКА
                li.catalog_submenu_item
                    a href="/auction/" ТОРГИ/АУКЦИОНЫ
                li.catalog_submenu_item
                    a href="/opt/" ОПТОВЫЕ ЦЕНЫ НА КАРТРИДЖИ
                li.catalog_submenu_item
                    a href="/articles/" СТАТЬИ
                li.catalog_submenu_item
                    a href="/about/" О КОМПАНИИ
                li.catalog_submenu_item
                    a href="/kontakty/" КОНТАКТЫ
        
