templates/index.slim
|
    {% load common_tags %}
doctype html
html lang="ru"
    head 
        title 
            |
                {% block title %}{% if meta %}{{ meta.title }}{% endif %}{% endblock %}
        meta name="keywords" content="{% block meta_keywords %}{% if meta %}{{ meta.keywords }}{% endif %}{% endblock %}" 
        meta name="description" content="{% block meta_description %}{% if meta %}{{ meta.description }}{% endif %}{% endblock %}"
        meta content="width=device-width, initial-scale=1.0" name="viewport"
        meta http-equiv="Content-Type" content="text/html; charset=UTF-8"
        meta name="yandex-verification" content="5b8722100dc4192d"
        link rel="shortcut icon" href="/media/images/favicon.ico" type="image/x-icon"
        link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css"
        link rel="stylesheet" href="/media/css/common.css?v=1.125"
        link rel="stylesheet" href="/media/css/jquery.bxslider.css"
        |
            {% block styles %}
        |
            {% endblock %}
        script type="text/javascript" src="/media/js/jquery-3.2.1.min.js"
        script type="text/javascript" src="/media/js/jquery.bxslider.js"
        script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"
        script type="text/javascript" src="/media/js/common.js?v=1.0161"
        |
            {% block scripts %}
        |
            {% endblock %}
            <!— Google Tag Manager —> 
                <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': 
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], 
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); 
                })(window,document,'script','dataLayer','GTM-PMK5PXT');</script> 
                <!— End Google Tag Manager —> 
            
            <script type="text/javascript" src="https://ru.msndr.net/subscriptions/863f5d54b1af5b8ffd0558d18085cf8f/431623/popup.js"></script>
            <style>
            /* Для всплывающего окна - показать картинку в мобильной версии */
            @media (max-width: 960px) {
                body .msndr-modal .msndr-modal__image {
                    display: flex!important;
                    height: auto;
                    margin: 0 auto;
                }
            }
            .wr_center.brands_slider ul li img {
                max-width: 100%;
            }
            </style>

            <!-- Yandex.Metrika counter -->
            <script type="text/javascript" >
            (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();
            for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
            k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

            ym(49310365, "init", {
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
            });
            </script>
            <noscript><div><img src="https://mc.yandex.ru/watch/49310365" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
            <!-- /Yandex.Metrika counter -->
    body
        |
            <!— Google Tag Manager (noscript) —> 
            <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PMK5PXT" 
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> 
            <!— End Google Tag Manager (noscript) —>
        header#header
            div.wr_center.clearfix
                div.h_b_logo
                    a href="/"
                        img src="/media/images/logo.png" alt="ЛазуритПринт"
                div.h_b_phone
                    ul
                        li.h_phone 
                            a href="tel: +7 (812) 903-77-15" +7 (812) 903-77-15
                        li.h_worktime Время работы с 9:00 - 18:00
                div.h_b_search
                    form method="get" action="/search" class="search_large"
                        input type="text" name="search" placeholder="Искать картридж..."
                        button type="submit"
                    div.header_info Поставка картриджей оптом по всей РФ
                div.h_b_basket
                    div.h_b_basket_count
                        |
                            {{ count }}
                    a href="/cart/"
                        ul
                            li Товаров на сумму
                            li 
                                |
                                    <span class="basket_price">{{ sum|price_format }}</span> руб.
                form method="get" action="/search" class="search_middle"
                    input type="text" name="search" placeholder="Искать картридж..."
                    button type="submit"
        nav#menu_t
            div.wr_center.clearfix
                |
                    {% general_menu_big %}
                ul.menu_t_small style="display: none;"
                    li МЕНЮ
        |
            {% block content %}
        |
            {% endblock %}
        div.wr_center.brands_slider.clearfix
            ul
                li
                    a href="#"
                        img src="/media/images/brands/brand_1.jpg"
                li
                    a href="#"
                        img src="/media/images/brands/brand_2.jpg"
                li
                    a href="#"
                        img src="/media/images/brands/brand_3.jpg"
                li
                    a href="#"
                        img src="/media/images/brands/brand_4.jpg"
                li
                    a href="#"
                        img src="/media/images/brands/brand_5.jpg"
                li
                    a href="#"
                        img src="/media/images/brands/brand_6.jpg"
        footer#footer
            div.wr_center.clearfix
                div.f_b_logo
                    div.f_b_ct
                        a href="/"
                            img src="/media/images/logo_footer.png"
                    ul.f_b_contacts
                        li
                            a.f_b_phone href="tel: +7 (812) 903-77-15" +7 (812) 903-77-15
                        li
                            a.f_b_email href="mailto: zakaz@lazuritprint.ru" zakaz@lazuritprint.ru
                div.f_b_categories
                    div.f_b_ct
                        ul
                            li.fb_ct__title Каталог
                            li
                                a href="/cartridge/" Оригинальный тонер-картриджи МФУ
                            li
                                a href="/mfu/" МФУ
                            li
                                a href="/sovmestimy-cartridge/" Совместимые тонер-картриджи ЗИП
                            li
                                a href="/spares/" ЗИП
                div.f_b_articles 
                    div.f_b_ct
                        ul
                            li.fb_ct__title Покупателям
                            li
                                a href="/delivery/" Доставка
                            li
                                a href="/auction/" Торги/Аукционы
                            li
                                a href="/opt/" Оптовые цены на картриджи
                            li
                                a href="/articles/" Статьи
                div.f_b_articles 
                    div.f_b_ct
                        ul
                            li.fb_ct__title Компания
                            li
                                a href="/about/" О компании
                            li
                                a href="/kontakty/" Контакты
        div#footer_sub
            div.wr_center.clearfix
                div.element__item.e__item2.footer_sub_text1
                    span Принимаем к оплате: 
                    img src="/media/images/pay_systems.png"
                    |
                        {% csrf_token %}
                div.element__item.e__item2.footer_sub_text2
                    |
                        КАРТРИДЖИ KYOCERA И HP ПО ОПТОВЫМ ЦЕНАМ С ДОСТАВКОЙ ПО ВСЕЙ РОССИИ
                        Оригинальные и совместимые расходные материалы по лучшим ценам
                        Copyright © 1994-2017 Лазурит Принт. Все права защищены.  

templates/index.html
{% load common_tags %}<!DOCTYPE html><html lang="ru"><head><title>{% block title %}{% if meta %}{{ meta.title }}{% endif %}{% endblock %}</title><meta content="{% block meta_keywords %}{% if meta %}{{ meta.keywords }}{% endif %}{% endblock %}" name="keywords" /><meta content="{% block meta_description %}{% if meta %}{{ meta.description }}{% endif %}{% endblock %}" name="description" /><meta content="width=device-width, initial-scale=1.0" name="viewport" /><meta content="text/html; charset=UTF-8" http-equiv="Content-Type" /><meta content="5b8722100dc4192d" name="yandex-verification" /><link href="/media/images/favicon.ico" rel="shortcut icon" type="image/x-icon" /><link href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" rel="stylesheet" /><link href="/media/css/common.css?v=1.125" rel="stylesheet" /><link href="/media/css/jquery.bxslider.css" rel="stylesheet" />{% block styles %}{% endblock %}<script src="/media/js/jquery-3.2.1.min.js" type="text/javascript"></script><script src="/media/js/jquery.bxslider.js" type="text/javascript"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js" type="text/javascript"></script><script src="/media/js/common.js?v=1.0161" type="text/javascript"></script>{% block scripts %}{% endblock %}
<!— Google Tag Manager —> 
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': 
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], 
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); 
    })(window,document,'script','dataLayer','GTM-PMK5PXT');</script> 
    <!— End Google Tag Manager —> 

<script type="text/javascript" src="https://ru.msndr.net/subscriptions/863f5d54b1af5b8ffd0558d18085cf8f/431623/popup.js"></script>
<style>
/* Для всплывающего окна - показать картинку в мобильной версии */
@media (max-width: 960px) {
    body .msndr-modal .msndr-modal__image {
        display: flex!important;
        height: auto;
        margin: 0 auto;
    }
}
.wr_center.brands_slider ul li img {
    max-width: 100%;
}
</style>

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
m[i].l=1*new Date();
for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

ym(49310365, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
});
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/49310365" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter --></head><body><!— Google Tag Manager (noscript) —> 
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PMK5PXT" 
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> 
<!— End Google Tag Manager (noscript) —><header id="header"><div class="wr_center clearfix"><div class="h_b_logo"><a href="/"><img alt="ЛазуритПринт" src="/media/images/logo.png" /></a></div><div class="h_b_phone"><ul><li class="h_phone"><a href="tel: +7 (812) 903-77-15">+7 (812) 903-77-15</a></li><li class="h_worktime">Время работы с 9:00 - 18:00</li></ul></div><div class="h_b_search"><form action="/search" class="search_large" method="get"><input name="search" placeholder="Искать картридж..." type="text" /><button type="submit"></button></form><div class="header_info">Поставка картриджей оптом по всей РФ</div></div><div class="h_b_basket"><div class="h_b_basket_count">{{ count }}</div><a href="/cart/"><ul><li>Товаров на сумму</li><li><span class="basket_price">{{ sum|price_format }}</span> руб.</li></ul></a></div><form action="/search" class="search_middle" method="get"><input name="search" placeholder="Искать картридж..." type="text" /><button type="submit"></button></form></div></header><nav id="menu_t"><div class="wr_center clearfix">{% general_menu_big %}<ul class="menu_t_small" style="display: none;"><li>МЕНЮ</li></ul></div></nav>{% block content %}{% endblock %}<div class="wr_center brands_slider clearfix"><ul><li><a href="#"><img src="/media/images/brands/brand_1.jpg" /></a></li><li><a href="#"><img src="/media/images/brands/brand_2.jpg" /></a></li><li><a href="#"><img src="/media/images/brands/brand_3.jpg" /></a></li><li><a href="#"><img src="/media/images/brands/brand_4.jpg" /></a></li><li><a href="#"><img src="/media/images/brands/brand_5.jpg" /></a></li><li><a href="#"><img src="/media/images/brands/brand_6.jpg" /></a></li></ul></div><footer id="footer"><div class="wr_center clearfix"><div class="f_b_logo"><div class="f_b_ct"><a href="/"><img src="/media/images/logo_footer.png" /></a></div><ul class="f_b_contacts"><li><a class="f_b_phone" href="tel: +7 (812) 903-77-15">+7 (812) 903-77-15</a></li><li><a class="f_b_email" href="mailto: zakaz@lazuritprint.ru">zakaz@lazuritprint.ru</a></li></ul></div><div class="f_b_categories"><div class="f_b_ct"><ul><li class="fb_ct__title">Каталог</li><li><a href="/cartridge/">Оригинальный тонер-картриджи МФУ</a></li><li><a href="/mfu/">МФУ</a></li><li><a href="/sovmestimy-cartridge/">Совместимые тонер-картриджи ЗИП</a></li><li><a href="/spares/">ЗИП</a></li></ul></div></div><div class="f_b_articles"><div class="f_b_ct"><ul><li class="fb_ct__title">Покупателям</li><li><a href="/delivery/">Доставка</a></li><li><a href="/auction/">Торги/Аукционы</a></li><li><a href="/opt/">Оптовые цены на картриджи</a></li><li><a href="/articles/">Статьи</a></li></ul></div></div><div class="f_b_articles"><div class="f_b_ct"><ul><li class="fb_ct__title">Компания</li><li><a href="/about/">О компании</a></li><li><a href="/kontakty/">Контакты</a></li></ul></div></div></div></footer><div id="footer_sub"><div class="wr_center clearfix"><div class="element__item e__item2 footer_sub_text1"><span>Принимаем к оплате: </span><img src="/media/images/pay_systems.png" />{% csrf_token %}</div><div class="element__item e__item2 footer_sub_text2">КАРТРИДЖИ KYOCERA И HP ПО ОПТОВЫМ ЦЕНАМ С ДОСТАВКОЙ ПО ВСЕЙ РОССИИ
Оригинальные и совместимые расходные материалы по лучшим ценам
Copyright © 1994-2017 Лазурит Принт. Все права защищены.  </div></div></div></body></html>
