templates/catalog/category.slim
|
    {% extends 'index.html' %}
|
    {% block styles %}
link rel="stylesheet" href="/media/css/categories.css?v=1.000"
|
    {% endblock %}
|
    {% block scripts %}
|
    {% endblock %}
|
    {%  block content %}
div#content.wr_center
    div#breadcrumbs
        ul
            li
                a href="#" Главная
            li.breadcrumbs_arrow >
            li
                span Каталог товаров
    div.content_catalog
        h1.page_title Каталог товаров
        div.categories
            div.cols__items.category_items.clearfix
                div.col__item4.category_item
                    div.category_item-icon
                        a href="#"
                            img src="/media/images/categories/icon_original_kt.png" 
                    div.category_item-title 
                        a href="#" Оригинальные тонер-картриджи
                    ul.category_item-brands
                        li
                            a href="#" Kyocera
                        li
                            a href="#" HP
                div.col__item4.category_item
                    div.category_item-icon
                        a href="#"
                            img src="/media/images/categories/icon_mfu.png" 
                    div.category_item-title 
                        a href="#" МФУ
                div.col__item4.category_item
                    div.category_item-icon
                        a href="#"
                            img src="/media/images/categories/icon_sovmest_kt.png" 
                    div.category_item-title 
                        a href="#" Совместимые тонер-картриджи
                    ul.category_item-brands
                        li
                            a href="#" Kyocera
                        li
                            a href="#" HP
                div.col__item4.category_item
                    div.category_item-icon
                        a href="#"
                            img src="/media/images/categories/icon_spares.png" 
                    div.category_item-title 
                        a href="#" Запчасти, инструмент и принадлежности 
|
    {%  endblock %}

templates/catalog/category.html
{% extends 'index.html' %}{% block styles %}<link href="/media/css/categories.css?v=1.000" rel="stylesheet" />{% endblock %}{% block scripts %}{% endblock %}{%  block content %}<div class="wr_center" id="content"><div id="breadcrumbs"><ul><li><a href="#">Главная</a></li><li class="breadcrumbs_arrow">></li><li><span>Каталог товаров</span></li></ul></div><div class="content_catalog"><h1 class="page_title">Каталог товаров</h1><div class="categories"><div class="cols__items category_items clearfix"><div class="col__item4 category_item"><div class="category_item-icon"><a href="#"><img src="/media/images/categories/icon_original_kt.png" /></a></div><div class="category_item-title"><a href="#">Оригинальные тонер-картриджи</a></div><ul class="category_item-brands"><li><a href="#">Kyocera</a></li><li><a href="#">HP</a></li></ul></div><div class="col__item4 category_item"><div class="category_item-icon"><a href="#"><img src="/media/images/categories/icon_mfu.png" /></a></div><div class="category_item-title"><a href="#">МФУ</a></div></div><div class="col__item4 category_item"><div class="category_item-icon"><a href="#"><img src="/media/images/categories/icon_sovmest_kt.png" /></a></div><div class="category_item-title"><a href="#">Совместимые тонер-картриджи</a></div><ul class="category_item-brands"><li><a href="#">Kyocera</a></li><li><a href="#">HP</a></li></ul></div><div class="col__item4 category_item"><div class="category_item-icon"><a href="#"><img src="/media/images/categories/icon_spares.png" /></a></div><div class="category_item-title"><a href="#">Запчасти, инструмент и принадлежности </a></div></div></div></div></div></div>{%  endblock %}
